img {
	padding: 15px;
}

.jamie {
	height: 450px;
	padding: 10px;
}

.port1 {
	height: 450px;
}

.port2 {
	height: 450px;
}

.port3 {
	height: 450px;
}

.port4 {
	height: 450px;
}

.port5 {
	height: 450px;
}