img {
	padding: 15px;
}

.jamie {
	height: 450px;
	padding: 10px;
}

.port1 {
	height: 450px;
}

.port2 {
	height: 450px;
}

.port3 {
	height: 450px;
}

.port4 {
	height: 450px;
}

.port5 {
	height: 450px;
}

.port6 {
	height: 450px;
}

.port7 {
	height: 450px;
}

.port7 {
	height: 10px;
}

.about1 {
	height: 350px;
}

.about2 {
	height: 400px;
}

.wedding {
	height: 550px;
}

.services {
	width: 450px;
}

#entryInfo {
	border: solid;
}

/*update sizes*/