img {
	padding: 15px;
}

.jamie {
	height: 450px;
	padding: 10px;
}

.portfolio {
	height: 450px;
}

.about1 {
	height: 350px;
}

.about2 {
	height: 400px;
}

.wedding {
	height: 550px;
}

.services {
	width: 450px;
}

#entryInfo {
	border: solid;
}

.home {
	height: 450px;
}

#jamieInstaPic {
	height: 8em;
}

#btnFix {
	width: 8em;
}

.apiDetails {
	text-align: center;	
}

.homeAboutMe {
	width: 400px;
}

.home {
	height: 350px;
}

.homeAboutTitle {
	text-align: center;
}

.homePortfolio {
	width: 340px;
}

.homeWeddings {
	width: 340px;
}

/* BOOTSWATCH */
