<div class="container">
	<div class="col-sm-6">
		<p>About</p>

		<a href="#/about"><img class='aboutMe' alt='click to learn about me' src='/images/homeAboutMe.jpg' /></a>

		<p>Portfolio</p>

			<img src='/images/about1.jpg' />

		<p>Services</p>

			<img src='/images/about1.jpg' />

		<p>Weddings</p>

			<img src='/images/about1.jpg' />

		<p>blog</p>

			<img src='/images/about1.jpg' />

		<p>Contact</p>

			<img src='/images/about1.jpg' />
	</div>
</div>

<!-- Items to complete with this view:
Link headers tag to its corresponding view. 
Include picture with each item
create carousel animation going through various images
Move around the header tags

controller
	$scope.toLogin = function() {
		$location.path('/login');
	}

template view
	just ng-click='toLogin'

 -->