<div class="container">
	<div class="col-lg-12">
		<div class="row">
			<div class="col-sm-4">
				<h4>About</h4>

				<a href="#/about"><img class='home' alt='click to learn about me' src='/images/homeAboutMe.jpg' /></a>
			</div>
			<div ng-controller="homeCtrl" class="col-sm-4">
				<div>
					<carousel interval="homeInterval">
						<slide ng-repeat="slide in slides">
							<img ng-src="{{slide}}" style="margin:auto">
						</slide>
					</carousel>
				</div>
			</div>

			<div class="col-sm-4">
				<h4>Contact</h4>

				<a href="#/contact"><img class='home' alt='click to contact me' src='/images/homeContact.jpg' /></a>
			</div>
		</div>


		<div class="row">
			<div class="col-sm-4">
				<h4>Portfolio</h4>

				<a href="#/portfolio"><img class='home' alt='click to view my portfolio' src='/images/homePortfolio.jpg' /></a>
			</div>
		
			<div class="col-sm-4">
				<h4>Services</h4>

				<a href="#/services"><img class='home' alt='click to see my services' src='/images/homeServices.jpg' /></a>
			</div>
			
			<div class="col-sm-4">
				<h4>Weddings</h4>

				<a href="#/weddings"><img class='home' alt='click to learn about my wedding services' src='/images/homeWeddings.jpg' /></a>
			</div>
		</div>
	</div>
</div>

<!-- Items to complete with this view:
Link headers tag to its corresponding view. 
Include picture with each item
create carousel animation going through various images
Move around the header tags

controller
	$scope.toLogin = function() {
		$location.path('/login');
	}

template view
	just ng-click='toLogin'

 -->