<div class="container">

	<h2>Services and pricing</h2>

	<div class="col-sm-6">
		
		<h2>Editorial Work</h2>
			<h6>On location styling and/or make-up for print or film</h6>
		
				<table class="table table-hover">
					<tr>	
						<td>Full Day</td>
						<td>$400</td>
					</tr>
					<tr>
						<td>Half-Day (Less than 4 hrs)</td>
						<td>$200</td>
					</tr>
					<tr>
						<td>Kit Fee</td>
						<td>$25+</td>
					</tr>
				</table>

			<h6><mark>Possible location fee</mark></h6>

		<h2>Salon Work</h2>
		
		<h4>Shape</h4>

			<table class="table table-hover">
				<tr>	
					<td>Women's Cut</td>
					<td>$45</td>
				</tr>
				<tr>
					<td>Men's Cut</td>
					<td>$25</td>
				</tr>
				<tr>
					<td>Children's Cut</td>
					<td>$20</td>
				</tr>
			</table>	

		<h4>Color</h4>
		
			<table class="table table-hover">
				<tr>	
					<td>Root Retouch (One Color)</td>
					<td>$60</td>
				</tr>
				<tr>
					<td>All-Over</td>
					<td>$75+</td>
				</tr>
				<tr>
					<td>Partial Highlight</td>
					<td>$75+</td>
				</tr>
				<tr>
					<td>Full Highlight</td>
					<td>$85+</td>
				</tr>
				<tr>
					<td>Add Color in Between</td>
					<td>$25+</td>
				</tr>
				<tr>
					<td>Ombre/Creative</td>
					<td>$85-120</td>
				</tr>
				<tr>
					<td>Toner/Base Break</td>
					<td>$25</td>
				</tr>
				<tr>
					<td>Men's Color</td>
					<td>$30+</td>
				</tr>
				<tr>
					<td>Color Correction</td>
					<td>$100+</td>
				</tr>
			</table>
			​
		<h4>Texture</h4>

			<table class="table table-hover">
				<tr>	
					<td>Basic Perm</td>
					<td>$65</td>
				</tr>
				<tr>
					<td>Spiral/Long Hair</td>
					<td>$80</td>
				</tr>
				<tr>
					<td>Smoothing</td>
					<td>$65</td>
				</tr>
				<tr>
					<td>Straightening</td>
					<td>$150</td>
				</tr>
			</table>

	</div> <!-- left side details -->

	<div class="col-sm-6"> <!-- begin right side details -->

		<h4>​​Occasion</h4>

			<table class="table table-hover">
				<tr>	
					<td>Blowout</td>
					<td>$25</td>
				</tr>
				<tr>
					<td>Formal Styling</td>
					<td>$55</td>
				</tr>
				<tr>
					<td>Full Make-up</td>
					<td>$50</td>
				</tr>
				<tr>
					<td>Add Airbrush to service</td>
					<td>$10</td>
				</tr>
				<tr>
					<td>Just Eyes/Face</td>
					<td>$25</td>
				</tr>
			</table>

		<h4>Healthy hair</h4>

			<table class="table table-hover">
				<tr>	
					<td>Reparative Treatment</td>
					<td>$30</td>
				</tr>
				<tr>
					<td>Treament w/ Service</td>
					<td>$15</td>
				</tr>
			</table>


		



				<div class="row"> <!-- begin instagram Jamie row -->
						<div ng-repeat="header in titles">
							<div id="jamieInstaPic">
								<img class="img-circle" ng-src="{{header.profilePic}}" />
							</div>
							<div class="apiDetails">
								<ul>
									| Posts {{header.posts}} |
									Followers {{header.followers}} |
									Follows {{header.follows}} |
								</ul>
							</div>
							<div class="instagramButton">
								<a target="_blank" href="https://instagram.com/jamiehowardhair" class="btn btn-social btn-instagram">
									<i class="fa fa-instagram"></i> Follow Me
								</a>
							</div>
						</div>
				</div>	<!-- end instagram Jamie row -->

				<div class="serviceCarouselSizing"> <!-- carousel -->
					<carousel interval="serviceInterval">
						<slide ng-repeat="picture in pictures">
							<a target="_blank" href="{{picture.urlLink}}"><img ng-src="{{picture.lowRes}}" style="margin:auto"></a>
						        <div class="carousel-caption">
						          <p><i class="fa fa-comment-o"></i> {{picture.comments}} | <i class="fa fa-heart-o"></i> {{picture.likes}}</p>
						          <!-- <i class="fa fa-clock-o"></i>{{picture.timestamp | date: 'short'}} -->
						        </div>
						</slide>
					</carousel>
				</div> <!-- carousel -->

<!--
WORKING CODE (ALTERNATIVE)
					<div ng-repeat="picture in pictures"> 
						<a target="_blank" href="{{picture.urlLink}}"><img src="{{picture.lowRes}}" /></a>
					</div> 
-->

	</div> <!-- end right side details -->
</div>





		<!-- <div> instagram photos -->
		<!-- </div>  instagram photos -->






		<!-- <img class='services' src='/images/services.jpg'> -->

		<!-- <img src='folder/image1.png' /> or jpeg -->

	<!-- <button ng-click="getPictures()">Do it</button> -->

<!-- 
			
			

						<div ng-repeat="header in titles">
							<img class="img-circle" id="jamieInstaPic" ng-src="{{header.profilePic}}" /> <br>
							{{header.username}} <br>
							<a target="_blank" href="https://instagram.com/jamiehowardhair" class="btn btn-block btn-social btn-instagram" id="btnFix"> Follow
							    <i class="fa fa-instagram"></i>
							</a>		
							
							{{header.followers}}
							{{header.follows}}
							{{header.posts}}

						</div>

				</div>

				<div class="col-sm-6">

					<div ng-repeat="picture in pictures">
						<a target="_blank" href="{{picture.urlLink}}"><img src="{{picture.lowRes}}" /></a>
					</div>

				</div>

		</div> -->